# Joel Greenblatt's Magic Formula

In [1]:
import pandas as pd

Import scrapped data from any free source

In [2]:
df = pd.read_excel('mf.xlsx')

In [3]:
df

,S.No.,Name,CMP Rs.,P/E,Ind PE,Mar Cap Rs.Cr.,PAT 12M Rs.Cr.,PAT Ann Rs.Cr.,1Yr return %,NP Qtr Rs.Cr.,NP 2Qtr Bk Rs.Cr.,Div Yld %,Div 5Yrs Rs.Cr.,ROA 12M %,EARNINGS_YIELD,ROIC,EVEBIT
0,1.0,MRF,100602.85,60.96,32.75,42655.61,699.75,699.75,32.29,340.67,129.86,0.17,53.85,2.95,2.86,8.07,NaN
1,2.0,Honeywell Auto,43369.85,87.53,58.37,38338.95,438.01,438.01,20.29,112.03,117.94,0.21,68.95,10.35,1.65,14.51,60.47
2,3.0,Page Industries,36384.50,71.02,19.85,40568.72,571.25,571.25,-16.50,78.35,162.13,0.69,306.62,23.80,1.95,39.09,51.25
3,4.0,3M India,27820.40,69.52,30.73,31353.59,451.02,451.02,21.65,135.72,106.23,0.36,214.13,15.77,2.01,30.46,49.75
4,5.0,Shree Cement,24017.30,65.39,33.25,86656.21,1325.28,1325.28,20.49,546.21,189.60,0.42,301.58,5.38,2.04,27.89,48.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,561.0,Suzlon Energy,17.35,126.41,34.84,21332.96,168.76,168.76,183.96,319.99,56.47,0.00,0.00,2.85,2.58,21.78,38.70
594,562.0,Yes Bank,17.05,66.63,15.02,49028.42,735.82,735.82,33.20,206.21,160.41,0.00,92.60,0.23,5.81,5.21,17.22
595,563.0,Alok Industries,16.20,NaN,27.43,8043.69,-880.46,-880.46,-23.58,-297.55,-191.50,0.00,0.00,-11.22,-1.18,-7.23,-84.88
596,564.0,Reliance Power,15.05,NaN,22.99,5621.48,-1356.94,-1356.94,32.02,256.91,-312.61,0.00,0.00,-2.76,4.62,3.86,21.63
597,565.0,Vodafone Idea,7.40,NaN,46.98,36022.97,-29371.90,-29371.90,-11.90,-6418.90,-7595.50,0.00,0.00,-14.64,-7.11,-4.50,-14.06

In [4]:
df = df.dropna(how='all')

In [5]:
df

,S.No.,Name,CMP Rs.,P/E,Ind PE,Mar Cap Rs.Cr.,PAT 12M Rs.Cr.,PAT Ann Rs.Cr.,1Yr return %,NP Qtr Rs.Cr.,NP 2Qtr Bk Rs.Cr.,Div Yld %,Div 5Yrs Rs.Cr.,ROA 12M %,EARNINGS_YIELD,ROIC,EVEBIT
0,1.0,MRF,100602.85,60.96,32.75,42655.61,699.75,699.75,32.29,340.67,129.86,0.17,53.85,2.95,2.86,8.07,NaN
1,2.0,Honeywell Auto,43369.85,87.53,58.37,38338.95,438.01,438.01,20.29,112.03,117.94,0.21,68.95,10.35,1.65,14.51,60.47
2,3.0,Page Industries,36384.50,71.02,19.85,40568.72,571.25,571.25,-16.50,78.35,162.13,0.69,306.62,23.80,1.95,39.09,51.25
3,4.0,3M India,27820.40,69.52,30.73,31353.59,451.02,451.02,21.65,135.72,106.23,0.36,214.13,15.77,2.01,30.46,49.75
4,5.0,Shree Cement,24017.30,65.39,33.25,86656.21,1325.28,1325.28,20.49,546.21,189.60,0.42,301.58,5.38,2.04,27.89,48.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,561.0,Suzlon Energy,17.35,126.41,34.84,21332.96,168.76,168.76,183.96,319.99,56.47,0.00,0.00,2.85,2.58,21.78,38.70
594,562.0,Yes Bank,17.05,66.63,15.02,49028.42,735.82,735.82,33.20,206.21,160.41,0.00,92.60,0.23,5.81,5.21,17.22
595,563.0,Alok Industries,16.20,NaN,27.43,8043.69,-880.46,-880.46,-23.58,-297.55,-191.50,0.00,0.00,-11.22,-1.18,-7.23,-84.88
596,564.0,Reliance Power,15.05,NaN,22.99,5621.48,-1356.94,-1356.94,32.02,256.91,-312.61,0.00,0.00,-2.76,4.62,3.86,21.63
597,565.0,Vodafone Idea,7.40,NaN,46.98,36022.97,-29371.90,-29371.90,-11.90,-6418.90,-7595.50,0.00,0.00,-14.64,-7.11,-4.50,-14.06

Rank them by rank of ROIC + rank of EARNINGS_YIELD (Cheap+Good)

In [6]:
df['ey_rank'] = df['EARNINGS_YIELD'].rank(ascending=True)
df['roc_rank'] = df['ROIC'].rank(ascending=True)
df['magic_rank'] = (df['ey_rank'] + df['roc_rank']).rank()

C:\Users\achal\AppData\Local\Temp\ipykernel_8816\1308333035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ey_rank'] = df['EARNINGS_YIELD'].rank(ascending=True)
C:\Users\achal\AppData\Local\Temp\ipykernel_8816\1308333035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['roc_rank'] = df['ROIC'].rank(ascending=True)
C:\Users\achal\AppData\Local\Temp\ipykernel_8816\1308333035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['magic_rank'] = (df['ey_rank'] + df['roc_rank']).rank()

In [7]:
df

,S.No.,Name,CMP Rs.,P/E,Ind PE,Mar Cap Rs.Cr.,PAT 12M Rs.Cr.,PAT Ann Rs.Cr.,1Yr return %,NP Qtr Rs.Cr.,NP 2Qtr Bk Rs.Cr.,Div Yld %,Div 5Yrs Rs.Cr.,ROA 12M %,EARNINGS_YIELD,ROIC,EVEBIT,ey_rank,roc_rank,magic_rank
0,1.0,MRF,100602.85,60.96,32.75,42655.61,699.75,699.75,32.29,340.67,129.86,0.17,53.85,2.95,2.86,8.07,NaN,172.0,133.0,84.0
1,2.0,Honeywell Auto,43369.85,87.53,58.37,38338.95,438.01,438.01,20.29,112.03,117.94,0.21,68.95,10.35,1.65,14.51,60.47,54.5,292.5,102.0
2,3.0,Page Industries,36384.50,71.02,19.85,40568.72,571.25,571.25,-16.50,78.35,162.13,0.69,306.62,23.80,1.95,39.09,51.25,78.5,513.0,304.0
3,4.0,3M India,27820.40,69.52,30.73,31353.59,451.02,451.02,21.65,135.72,106.23,0.36,214.13,15.77,2.01,30.46,49.75,85.0,487.0,284.5
4,5.0,Shree Cement,24017.30,65.39,33.25,86656.21,1325.28,1325.28,20.49,546.21,189.60,0.42,301.58,5.38,2.04,27.89,48.99,89.0,470.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,561.0,Suzlon Energy,17.35,126.41,34.84,21332.96,168.76,168.76,183.96,319.99,56.47,0.00,0.00,2.85,2.58,21.78,38.70,139.0,408.0,259.0
594,562.0,Yes Bank,17.05,66.63,15.02,49028.42,735.82,735.82,33.20,206.21,160.41,0.00,92.60,0.23,5.81,5.21,17.22,381.0,67.5,179.5
595,563.0,Alok Industries,16.20,NaN,27.43,8043.69,-880.46,-880.46,-23.58,-297.55,-191.50,0.00,0.00,-11.22,-1.18,-7.23,-84.88,15.0,13.0,13.5
596,564.0,Reliance Power,15.05,NaN,22.99,5621.48,-1356.94,-1356.94,32.02,256.91,-312.61,0.00,0.00,-2.76,4.62,3.86,21.63,310.0,45.0,107.0
597,565.0,Vodafone Idea,7.40,NaN,46.98,36022.97,-29371.90,-29371.90,-11.90,-6418.90,-7595.50,0.00,0.00,-14.64,-7.11,-4.50,-14.06,2.0,16.0,7.0

Sort and Invest in top 30 companies for a year

In [8]:
mf = df.sort_values(by = 'magic_rank', ascending=False)

In [9]:
mf.to_csv('mf_july.csv', index=False)